:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.logo img {
  max-width: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

h1 {
  font-size: 96px;
  color: #150d0c;
}

.navbar {
  width: auto;
  color: #150d0c;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.navbar ul li a {
  display: block;
  padding: 20px 5px;
  text-decoration: none;
  color: #150d0c;
}

.navbar a:hover {
  color: wheat;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/Web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  position: relative;
  color: #db85a7;
  text-align: center;
  padding: 250px 0;
}

header h2 {
  font-size: 96px;
  font-weight: 1000;
  line-height: 1;
  margin: 30px 0;
}

header h6 {
  font-size: 20px;
  text-decoration: underline;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

header button {
  color: white;
  background-color: #db85a7;
  padding: 0 200px;
  border-radius: 10px 10px;
  font-style: italic;
}

.services h2 {
  color: #150d0c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 10px;
  font-style: italic;
  font-weight: bold;
}

.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.grid .item {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.grid img:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.4;
}

.overlay {
  color: white;
  background-color: #db85a7;
  font-size: 20px;
  line-height: 2;
  padding: 0 1rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.products h2 {
  color: #150d0c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 10px;
  font-style: italic;
  font-weight: bold;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  margin: 15px 0;
}

.grid-products .item {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.grid-products img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.grid-products img:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.4;
}

.img1 {
  object-position: 50% 7%;
}

.img2 {
  object-position: 50% 70%;
}

.img3 {
  object-position: 50% 90%;
}

.img4 {
  object-position: 50% 45%;
}

.img5 {
  object-position: 50% 10%;
}

.direction h2 {
  color: #150d0c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 10px;
  font-style: italic;
  font-weight: bold;
}

.testimonial h2 {
  color: #150d0c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 10px;
  font-style: italic;
  font-weight: bold;
}

.slideshow {
  max-width: 1600px;
  width: 95%;
}

.slide-wrapper .img-list {
  display: grid;
  gap: 3px;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(6, 1fr);
}

.slide-wrapper .img-list::-webkit-scrollbar {
  display: none;
}

.slide-wrapper .img-list .testimony-img {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.slideshow .slide-scrollbar {
  height: 24px;
  width: 100%;
  background: #db85a7;
}

.slide-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #db85a7;
  position: relative;
  border-radius: 4px;
}

.slide-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slide-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #150d0c;
  border-radius: inherit;
  cursor: grab;
}

.slide-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slide-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.service-section h2 {
  color: #150d0c;
  padding-top: 50px;
}

.services-price h2 {
  color: #150d0c;
  background-color: pink;
  text-align: center;
  padding: 0 200px;
  border-radius: 10px 10px;
  font-style: italic;
}

.services-price h3,
h5 {
  color: #150d0c;
}

.grid-2-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin: 15px 0;
}

.video-section {
  flex: 1;
  max-width: 48%;
}

.services-price {
  flex: 1;
  max-width: 48%;
}

.service-section button {
  color: white;
  background-color: #db85a7;
  border-radius: 30px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 15px 0;
}

.video-item {
  width: 100%;
  overflow: hidden;
}

.video-item video {
  width: 100%;
  height: auto;
  display: block;
}

.calendar-wrapper {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

section .current-date {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 50px;
  margin: 0 1px;
}

section .icons span {
  height: 38px;
  width: 38px;
  color: #878787;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  line-height: 38px;
}

section .icons span:hover {
  background: #f2f2f2;
}

section .icons span:last-child {
  margin-right: -10px;
}

.calendar {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar .weeks li {
  font-weight: 500;
}

.calendar ul {
  display: flex;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 40%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background: #f2f2f2;
}

.days li.active::before {
  background: pink;
}

/* Appointment dropdown styling */
.appointment-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.appointment-dropdown.hidden {
  display: none;
}

.appointment-dropdown h4 {
  margin-top: 0;
}

.appointment-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.appointment-dropdown ul li {
  margin-bottom: 10px;
}

.appointment-dropdown ul li button {
  background: #db85a7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Booking Form Styles */
.booking-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.booking-form.hidden {
  display: none;
}

.booking-form h3 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-form .cancel-btn {
  cursor: pointer;
  font-size: 2em;
  background: none;
  border: none;
  color: #000;
  background: #db85a7;
  padding: 0;
}

.booking-form form {
  display: flex;
  flex-direction: column;
}

.booking-form form label {
  margin-top: 10px;
}

.booking-form form input,
.booking-form form select,
.booking-form form button {
  margin-top: 5px;
}

.booking-form form .cancel-btn {
  background: #db85a7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* Footer styling */
.footer-logo {
  padding: 0;
  width: 200px;
  height: auto;
  margin-top: 15px;
  margin-left: 10px;
}

footer {
  padding: 30px;
  background-color: #150d0c;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer a {
  color: #fff;
}

.footer-info {
  padding-left: 50px;
}

.footer-info ul {
  list-style: none;
}
